<template>
  <form @submit.prevent="onSubmit" @reset.prevent="onReset">
    <b-field label="title">
      <b-input v-model="inputField" type="textarea" />
    </b-field>
    <button class="button is-success" type="submit">Do it !</button>
    <button class="button is-danger" type="reset">Clear</button>
  </form>
</template>

<script>
export default {
  props: ["id", "title", "preset"],
  data() {
    return {
      inputField: null
    };
  },
  watch: {
    // watch the preset when it is modified in the parent component
    preset(value, oldValue) {
      if (value && value != oldValue) {
        this.inputField = value;
      } else {
        this.inputField = null;
      }
    }
  },
  methods: {
    onSubmit() {
      var data = { id: this.id, inputField: this.inputField };
      this.$emit("submit-form", data);
    },
    onReset(e) {
      console.log(this);
      this.inputField = null;
    }
  }
};
</script>