<template>
  <div class="tezos-codec">
    <h1>Hello Tezos Codec</h1>
    <v-select :options="encodings" @input="displaySchema"></v-select>

    <section>
      <b-tabs v-model="activeTab">
        <b-tab-item label="Schema">
          <div v-if="codecSchema">
            <vue-json-pretty :path="'res'" :data="codecSchema"></vue-json-pretty>
          </div>
        </b-tab-item>

        <b-tab-item label="Encode">
          <div class="columns">
            <div class="column">
              <DataInput
                v-on:submit-form="onSubmit"
                title="Json to encode"
                id="encodeForm"
                v-bind:preset="encodeFormPreset"
              />
            </div>
            <div class="column">
              <p>{{ binaryEncodedOutput }}</p>
            </div>
          </div>
        </b-tab-item>

        <b-tab-item label="Decode">
          <div class="columns">
            <div class="column">
              <DataInput
                v-on:submit-form="onSubmit"
                title="Binary (in hex) to decode"
                id="decodeForm"
                v-bind:preset="decodeFormPreset"
              />
            </div>
            <div class="column">
              <div v-if="jsonDecodedOutput">
                <vue-json-pretty :path="'res'" :data="jsonDecodedOutput"></vue-json-pretty>
              </div>
            </div>
          </div>
        </b-tab-item>
      </b-tabs>
    </section>
  </div>
</template>

<script>
import Vue from "vue";
import Buefy from "buefy";
import "buefy/dist/buefy.css";
Vue.use(Buefy);

import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import VueJsonPretty from "vue-json-pretty";

// small component to handle the input form
import DataInput from "./DataInput";

import codec from "@nomadic-labs/tezos-codec";
import { log } from "util";

Vue.component("v-select", vSelect);

export default {
  name: "tezos-codec",
  components: {
    VueJsonPretty,
    vSelect,
    DataInput
  },
  data() {
    return {
      jsonDecodedOutput: null,
      binaryEncodedOutput: null,
      encodeFormPreset: null,
      decodeFormPreset: null,
      currentEncoding: null,
      activeTab: 0,
      encodings: [],
      codecSchema: null,
      api: null,
      presets: []
    };
  },
  created() {
    codec.init().then(api => {
      this.api = api;
      this.encodings = api.listEncodings();
    });
    const TestDataRaw = require("./test_vectors.json");
    this.presets = TestDataRaw;
  },
  methods: {
    displaySchema(value) {
      this.currentEncoding = value;
      this.codecSchema = this.api.describe(value);
      let obj = this.presets.find(o => o.id === value);
      if (obj) {
        this.encodeFormPreset = obj.value;
        this.decodeFormPreset = obj.binary;
      } else {
        this.encodeFormPreset = null;
        this.decodeFormPreset = null;
      }
    },
    onSubmit(data) {
      if (this.currentEncoding == null) {
        this.$buefy.notification.open({
          duration: 5000,
          message: "Encoding not selected. Nothing to do",
          position: "is-bottom-right",
          type: "is-warning"
        });
        return;
      }
      switch (data.id) {
        case "encodeForm":
          // json -> binary
          var b = this.api.encode(this.currentEncoding, data.inputField);
          if (b == null) {
            this.$buefy.notification.open({
              duration: 5000,
              message:
                "Encoding error: your input does not match the selected encoding",
              position: "is-bottom-right",
              type: "is-warning"
            });
          } else {
            this.binaryEncodedOutput = JSON.stringify(b);
          }
          break;
        case "decodeForm":
          // binary -> json
          parseInput = i => {
            try {
              return new Uint8Array(Buffer.from(i, "hex"));
            } catch {
              return null;
            }
          };
          var b = parseInput(data.inputField);
          if (b == null) {
            this.$buefy.notification.open({
              duration: 5000,
              message:
                "Decoding error: your input does not match the selected encoding",
              position: "is-bottom-right",
              type: "is-warning"
            });
          } else {
            this.jsonDecodedOutput = this.api.decode(this.currentEncoding, b);
          }
          break;
      }
    },
    onReset(e) {
      console.log(e);
      console.log(this);
    }
  }
};
</script>

