<template>
  <div id="app" class="container">
    <TezosCodec />
  </div>
</template>

<script>
import TezosCodec from "./components/TezosCodec";
export default {
  components: {
    TezosCodec
  }
};
</script>

